body {
      font-family: Arial, sans-serif;
      text-align: center;
      background-color: #f9f9f9;
      padding-top: 100px;
    }

    h1 {
      font-size: 2.5rem;
      color: #333;
    }

    #timer {
      font-size: 4rem;
      margin-top: 20px;
      color: #007bff;
      font-weight: bold;
    }

    button {
      margin-top: 40px;
      padding: 10px 25px;
      font-size: 16px;
      border: none;
      background-color: #007bff;
      color: white;
      border-radius: 6px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }

    #output {
      margin-top: 30px;
      padding: 20px;
      border: 2px black;
      border-radius: 10px;
      background-color: pink;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      min-height: 50px;
    }